.first-screen{
  padding: 188px 0 197px;
  background: url("../images/first-screen/bg.png") center/cover no-repeat;
  text-align: center;
  &__title{
    @include text(43px, 46px, #FFF );

  }
  &__subtitle{
    @include text(15px, 18px, #FFF );
    letter-spacing: 0.8px;
    margin: 12px 0 28px;
  }
  &__link{
    @include text(13px, 15px, #FFF );
    text-align: center;
    letter-spacing: 1.4px;
    text-transform: uppercase;
  }
}