.header{
  padding: 29px 0;
  &__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__menu{
    display: flex;
    column-gap: 24px;
  }
  &__logo{

  }
  &__link{
    @include text(13px, 15px, #000000 );
    letter-spacing: 1.4px;
    text-transform: uppercase;
  }
}