.office{
  padding: 174px 0 185px;
  text-align: center;
  background: url("../images/office/bg.png") center/cover no-repeat;
  &__title{
    @include text(66px, 70px, #FFF );
  }
  &__subtitle{
    @include text(14px, 16px, #FFF );
    letter-spacing: 0.8px;
    padding: 14px 0 30px;
  }
  &__link{
    @include text(13px, 15px, #FFF );
    letter-spacing: 1.4px;
    text-transform: uppercase;
  }
}